
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

body{
    background-color: greenyellow;
}

html,body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: rgb(16, 217, 235);
    padding: 20px;
}

header .pfp{
    width: 300px;
    height: 300px;
    border: 20px solid chartreuse;
    border-radius: 50%;
    background-image: url('./../img/wild-kratts-profile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}

header h1{
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: 20px 0 20px;
    color: rgb(4, 0, 255);
}