
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

body{
    background-color: greenyellow;
}

html,body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: rgb(16, 217, 235);
    padding: 20px;
}

header img{
    width: 300px;
    height: 300px;
    border: 20px solid chartreuse;
    border-radius: 50%;
}

header h1{
     font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: 10px 0 20px;
    color: rgb(4, 0, 255);
}