
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;   
}

html,body{
    margin: 0;
    padding: 0;
}

p, ul, ol{
    font-size: 20px;
    line-height: 30px;
}

ul, ol{
    padding: 0;
    list-style-position: inside;
}

a{
    color: coral;
}

a:hover{
    color: blue;
}

a:active{
    color: darkgreen;
}

a:visited{
    color: rgb(255, 21, 239);
}

p.caption{
    font-size: 16px;
    color: rgb(142, 142, 142);
    font-style: oblique;
    margin: 0;
}

header{
    text-align: center;
    background-color: rgb(16, 217, 235);
    padding: 20px;
}

header .pfp{
    width: 300px;
    height: 300px;
    border: 20px solid chartreuse;
    border-radius: 50%;
    background-image: url('./../img/wild-kratts-profile.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}

h1{
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: 20px 0 20px;
    color: rgb(4, 0, 255);
}
h2{
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 40px 0 20px;
}

main{
    width: 800px;
    margin: 0 auto;
}
main img{
    max-width: 100%;
}